<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.1"
    package="arise.arise.org.arise" >

    <uses-sdk android:minSdkVersion="17"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterationActivity"
            android:label="@string/title_activity_registeration"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AboutArise"
            android:label="@string/title_activity_about_arise"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AboutUser"
            android:label="@string/title_activity_about_user"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CourseDetailsActivity"
            android:label="@string/title_activity_course_details"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PlayLectureActivity"
            android:label="@string/title_activity_play_lecture"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".NoConnectionActivity"
            android:label="@string/title_activity_no_connection"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9eb170008d813d6cad5743aac2adede80bb90dba" />
    </application>

</manifest>
